@tailwind base;
@tailwind components;
@tailwind utilities;  /*не обязательноооо*/

body {
    background: #DEDFE1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
.input {
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color:oklch(0.577 0.245 27.325);
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
    color: #292929;
}
h3{
    text-decoration: none;
    color: white;

}
p{
    text-decoration: none;
    color: white;

}

.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    background-color: #262626;
    padding: 10px 20px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}

nav a:hover {
    color: #EC2227;
}

/* logo */
.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 50px;
    margin-right: 20px;
   text-decoration: none;
}
/* Карточки игр */
.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

.game {
    background: #292929;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.game:hover {
    transform: scale(1.05);
}

.image img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.image img:hover {
    transform: scale(1.05);
}

/* Карточки игр2 */
.image2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

.a {
    background: #292929;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.a:hover {
    transform: scale(1.05);
}

.image2 img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.image2 img:hover {
    transform: scale(1.05);
}
