body {
    background: #DEDFE1;
}

.text {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: #262626;
    padding: 10px 20px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}

nav a:hover {
    color: #EC2227;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.image {
    display: flex;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    transition: transform 0.3s ease;
    margin-left: 50px;
    line-height: 1.2;
    gap: 10px;
    margin: 20px;
}

.image img {
    display: flex;
    border-radius: 10px; /*круглие углы*/
    width: 200px;
    height: 300px;
    object-fit: cover; /*сужает*/
    transition: transform 0.4s ease;
    margin-left: 50px;
    margin-top: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;

}

.image img:hover {
    transform: scale(1.05);
}

button:hover {
    background-color: #555; /* Темніший фон при наведенні */
}
.sing {
    width: 40px;
    height: auto;
    margin-right: 5px;
    transition: transform 0.3s ease;
}
/* Тренды игрового мира */
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-top: 300px; /*сверху */
}

.image2 {
    display: flex;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    transition: transform 0.3s ease;
    margin-left: 50px;
    line-height: 1.2;
    gap: 10px;
    margin: 20px;
}

.image2 img {
    display: flex;
    border-radius: 10px; /*круглие углы*/
    width: 200px;
    height: 300px;
    object-fit: cover; /*сужает*/
    transition: transform 0.4s ease;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.image2 img:hover {
    transform: scale(1.05);
}
