<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_catalog.css') }}">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/JsLZW8vR/2025-03-16-152817945.png">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<nav>
    <div class="logo-container">
        <img src="https://i.postimg.cc/JyPqM2vH/2025-03-09-120534-removebg-preview.png" class="logo">
        <span class="text">GameBar</span>
    </div>
    <div class="rating">
        <a href="/catalog/" class="games">Games</a>
        <div class="rating-container">
            <a href="/catalog/?sort_by=descend">By rating ↑</a>
            <a href="/catalog/?sort_by=ascend">By rating ↓</a>
        </div>
    </div>
    <a href="/" class="news">Home page</a>
    <a href="/favourite" class="fav">Fav</a>
    <a href="#" class="news">News</a>
    <form method="get" action="/catalog/">
        <input class="input" name="search" placeholder="Type here..." type="search">
    </form>
</nav>

<div class="image">
    {% for game in games %}
    <div class="game">
        <a href="/game/{{ game.id }}/">
            <img src="{{ game.picture }}" alt="{{ game.name }}">
            <h3>{{ game.name }}</h3>
            <p>Rating: {{ game.rating }}</p>
        </a>
    </div>
    {% endfor %}
</div>

</body>
</html>
