<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_game.css') }}">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/JyPqM2vH/2025-03-09-120534-removebg-preview.png">
</head>
<body>

<nav>
    <div class="logo-container">
        <img src="https://i.postimg.cc/JyPqM2vH/2025-03-09-120534-removebg-preview.png" class="logo">
        <span class="text">GameBar</span>
    </div>
    <a href="/catalog/" class="games">Games Catalog</a>
    <a href="/" class="home">Home page</a>
    <a href="/favourite" class="fav">Fav Game</a>
    <a href="#" class="news">News</a>
    <form method="get" action="/catalog/">
        <input class="input" name="search" placeholder="Search..." type="search">
    </form>
</nav>

<div class="game">
    <div class="gameinfo">
        <h1>{{ name }}</h1>
        <img src="{{ picture }}" alt="{{ name }}" class="image">
        <p>Genre: {{ genre }}</p>
        <p>Rating: {{ rating }}</p>
            <p class="desc">{{ description }}</p>
    <form method="POST" action="/game/{{ id }}/save/">
        <button type="submit">Add to My Favs</button>
    </form>
    </div>
</div>

</body>
</html>
