<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/JyPqM2vH/2025-03-09-120534-removebg-preview.png">
    <link href="src/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="/output.css" rel="stylesheet">
    <link href="./output.css" rel="stylesheet">


</head>
<body>
<nav>
    <div class="logo-container">
        <img src="https://i.postimg.cc/JyPqM2vH/2025-03-09-120534-removebg-preview.png" class="logo">
        <span class="text">GameBar</span>
    </div>
    <a href="/catalog/" class="games">Games Catalog</a>
    <a href="#" class="shop">My Cart</a>
    <a href="#" class="news">News</a>
    <form method="get" action="/catalog/">
        <input class="input" name="search" placeholder="Search..." type="search">
    </form>
</nav>

<div class="image">
    {% for game in random_games %}
    <a href="/game/{{ game.id }}/" class="game">
        <img src="{{ game.picture }}" alt="{{ game.name }}">
        <h3>{{ game.name }}</h3>
        <p>Rating: {{ game.rating }}</p>
    </a>
    {% endfor %}
</div>

<h2>Top games</h2>

<div class="image2">
    {% for game in top %}
    <a href="/game/{{ game.id }}/" class="a">
        <img src="{{ game.picture }}" alt="{{ game.name }}">
        <h3>{{ game.name }}</h3>
        <p>Rating: {{ game.rating }}</p>
    </a>
    {% endfor %}
</div>

</body>
</html>
